@import 'variables';
@import 'mixins-flex';
@import 'mixins-grid';
@import 'mixins-responsive';

.enune.liste {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    
    > li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: contents;
        
        &.multi {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
          width: 100%;
        }
      }
    }
  }
}

.cols_6 {
  width: 960px;
  max-width: 100%;
  overflow-x: hidden;
  
  @include respond-to-max(desktop) {
    width: 100%;
    max-width: 100%;
  }
  
  &.filet {
    width: 940px;
    max-width: 100%;
    
    @include respond-to-max(desktop) {
      width: 100%;
      max-width: 100%;
    }
  }
  
  > ul,
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

.cols_4 {
  width: 640px;
  max-width: 100%;
  overflow-x: hidden;
  
  @include respond-to-max(desktop) {
    width: 100%;
    max-width: 100%;
  }
  
  &.filet {
    width: 620px;
    
    @include respond-to-max(desktop) {
      width: 100%;
    }
  }
  
  > .unarticle {
    .titraille,
    .intro {
      width: 600px;
      max-width: 100%;
    }
  }
  
  h3 {
    font-size: 2.2em;
    line-height: 1.1em;
  }
  
  > ul,
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.cols_3 {
  width: 480px;
  max-width: 100%;
  overflow-x: hidden;
  
  @include respond-to-max(desktop) {
    width: 100%;
    max-width: 100%;
  }
  
  h3 {
    font-size: 2em;
    line-height: 1.1em;
  }
  
  > ul,
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.cols_2 {
  width: 320px;
  max-width: 100%;
  overflow-x: hidden;
  
  @include respond-to-max(desktop) {
    width: 100%;
    max-width: 100%;
  }
  
  h3 {
    font-size: 1.6em;
  }
  
  > ul,
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.cols_1 {
  width: 160px;
  max-width: 100%;
  overflow-x: hidden;
  
  @include respond-to-max(desktop) {
    width: 100%;
    max-width: 100%;
  }
  
  h3 {
    font-size: 1.25em;
    line-height: 1.2em;
  }
  
  .intro,
  .logo {
    display: none;
  }
  
  .yalogo h3 {
    font-family: $font-serif;
    font-weight: 400;
  }
  
  li a.unemdv {
    .titraille {
      display: block;
    }
    
    .logo {
      margin: 3px 0 10px 0;
      display: block;
    }
  }
  
  > ul,
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.bloc {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: 100%;
    
    > li {
      list-style: none;
      margin: 0 10px 15px 10px;
      padding: 0;
      
      &:last-child > a {
        margin: 0 10px 0 10px;
        border: 0;
        padding: 0;
      }
      
      > a {
        display: block;
        margin: 0 10px 15px 10px;
        border-bottom: 1px dashed $color-border;
        padding: 0 0 15px 0;
        text-decoration: none;
        color: inherit;
        
        .logo {
          margin: 3px 0 10px 0;
        }
      }
    }
  }
  
  .titraille {
    margin: 0 0 6px;
    overflow: visible;
  }
}

.unarticle {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
  .logo {
    margin: 5px 15px 6px 0;
    max-width: 100%;
    
    &.large {
      margin: 3px 0 10px 0;
      width: 100%;
      max-width: 100%;
      
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  
  .titraille {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0 0 6px 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    
    h3 {
      font-family: $font-serif;
      font-weight: 400;
      color: $color-text;
      margin: 0;
      line-height: 1.2;
    }
    
    .dates_auteurs {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      color: $color-text-light;
      
      .insecable {
        white-space: nowrap;
      }
      
      .apercu {
        margin-left: auto;
      }
      
      .lieu {
        font-weight: 700;
      }
    }
  }
  
  .intro {
    padding: 0;
    line-height: 1.6;
    color: $color-text-light;
    margin-top: $spacing-xs;
    
    .suite {
      color: $color-primary;
    }
  }
  
  &.blogs {
    .titraille {
      margin-bottom: $spacing-xs;
    }
  }
}

.yalogo {
  display: block;
  text-decoration: none;
  color: inherit;
  max-width: 100%;
  
  h3 {
    font-family: $font-sans;
    font-weight: 700;
  }
  
  .logo {
    margin-bottom: $spacing-xs;
    
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.filet {
  border-top: 1px dashed $color-border;
  border-bottom: 0;
  margin: 28px 0 30px 10px;
  display: block;
  width: calc(100% - 20px);
  height: 0;
  
  &.que_res {
    @include respond-to-max(tablet) {
      display: none;
    }
  }
}

.zizi.enlarge {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  
  .unemensuel {
    .logo {
      display: block;
      
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  
  .dates_auteurs {
    font-weight: 700;
    color: $color-text;
    margin-top: $spacing-xs;
  }
  
  .descriptif {
    margin-top: $spacing-sm;
    line-height: 1.6;
    color: $color-text-light;
  }
}

@include respond-to-max(tablet) {
  .enune.liste > ul > li {
    width: 100%;
    margin: 0 0 15px 0;
  }
  
  .cols_1,
  .cols_2,
  .cols_3,
  .cols_4,
  .cols_6 {
    width: 100%;
    max-width: 100%;
  }
}

@include respond-to(tablet) {
  .cols_1 {
    width: calc(25% - 15px);
  }
  
  .cols_2 {
    width: calc(50% - 15px);
  }
  
  .cols_3 {
    width: calc(75% - 15px);
  }
  
  .cols_4 {
    width: calc(100% - 15px);
  }
}
